body{
background: url("../images/back_0.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}


.separator {
    background: url("../images/separtor1.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    clear: both;
    height: 34px;
    width: 100%;
}
.separator2 {
    background: url("../images/separtor2.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    clear: both;
    height: 34px;
    width: 100%;
}


.carousel-container {
    width: 1600px;
    height: 500px;
}